<div class="row">
  <div class="col-md-4">
      <a href="#">
        <% if post.image_link.present? %>
          <img class="img-fluid rounded mb-3 mb-md-0" src="<%= post.image_link %>" alt="">
        <% else %>
          <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/300x200?text=not+found" alt="">
        <% end %>
      </a>
  </div>
  <div class="col-md-8">
    <% if post.social_media_account.network == 'facebook' %>
      <h3><i class='fa fa-facebook-square btn btn-primary'></i> @<%= post.social_media_account.username%></h3>
    <% else %>
      <h3><i class='fa fa-twitter btn btn-info'></i> @<%= post.social_media_account.username%></h3>
    <% end %>    
    <p><%= post.content.gsub("\\n", "</br>").html_safe %></p>
  </div>
</div>
<hr>
