<div class="container">

  <h2 class="my-4">Filters</h2>

  <%= render :partial => 'social_media_lists/partials/filter' %>

  <h2 class="my-4">Posts</h2>

  <% @posts.each do |post| %>
    <%= render :partial => 'social_media_lists/partials/post', :locals => {:post => post} %>
  <% end %>

  <div class="row">
    <div class="offset-md-4 col-md-4">
      <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
  </div>

</div>
